/*-----------------------------------*\
  #style.css
\*-----------------------------------*/

/**
 * copyright 2022 @codewithsadee
 */





/*-----------------------------------*\
  #CUSTOM PROPERTY
\*-----------------------------------*/

:root {

  /**
   * colors
   */

  --raisin-black-1: hsl(234, 14%, 14%);
  --raisin-black-2: hsl(231, 12%, 12%);
  --raisin-black-3: hsl(228, 12%, 17%);
  --eerie-black: hsl(240, 11%, 9%);
  --light-gray: hsl(0, 0%, 80%);
  --platinum: hsl(0, 4%, 91%);
  --xiketic: hsl(275, 24%, 10%);
  --orange: hsl(31, 100%, 51%);
  --white: hsl(0, 0%, 100%);
  --onyx: hsl(240, 5%, 26%);

  /**
   * typography
   */

  --ff-refault: "Refault", Georgia;
  --ff-oswald: 'Oswald', sans-serif;
  --ff-poppins: 'Poppins', sans-serif;

  --fs-1: 54px;
  --fs-2: 34px;
  --fs-3: 30px;
  --fs-4: 26px;
  --fs-5: 22px;
  --fs-6: 20px;
  --fs-7: 18px;
  --fs-8: 15px;
  --fs-9: 14px;
  --fs-10: 13px;
  --fs-11: 12px;

  --fw-400: 400;
  --fw-500: 500;
  --fw-700: 700;

  /**
   * transition
   */

  --transition-1: 0.15s ease-in-out;
  --transition-2: 0.15s ease-in;
  --transition-3: 0.25s ease-out;

  /**
   * spacing
   */

  --section-padding: 60px;

  /**
   * clip path
   */

  --polygon-1: polygon(90% 0, 100% 34%, 100% 100%, 10% 100%, 0 66%, 0 0);
  --polygon-2: polygon(0 0, 100% 0%, 82% 100%, 0% 100%);
  --polygon-3: polygon(0 0, 100% 0%, 100% 100%, 18% 100%);
  --polygon-4: polygon(96% 0, 100% 36%, 100% 100%, 4% 100%, 0 66%, 0 0);

}


::-webkit-scrollbar { width: 8px; }

::-webkit-scrollbar-track { background: var(--raisin-black-2); }

::-webkit-scrollbar-thumb {
  background: var(--orange);
  border-radius: 10px;
}


.cta{
  background: url(../img/background/newsletter-bg.jpg) no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  height: 40vh; 
  z-index: -100;
}
.calltoaction{
  text-decoration: none;

  padding: 20px;
  border-radius: 12px;
  background: white;
  color: #000;
}
.calltoaction:hover{
  background: black;
  color: white;
}